@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lora", serif;
}

.font-lora {
  font-family: "Lora", serif;
}
